// @import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
// @import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

body {
   margin: rhythm(8) rhythm(8);
   font-family: $fontJapanese
}
::selection {
   background: rgb(254, 87, 161);
   color: white;
}

// button {
//    font-family: 'Limelight', cursive;
//    @include sassy-button("shiny", 6px, 14px, #cede85, #a7bf35);
//    border: 0 none;
//    @include leader(6);
// }

// header {
//    @include trailer(2);
//    @include clearfix;
// }

h1 {	
   font-family: $fontEnglish;
   font-weight: bold;
   @include adjust-font-size-to(30px);
   @include trailer(3, 30px);
   position: relative;
}

// h1::before {
//   content: '';
//   height: rhythm(4, 32px);
//   position: absolute;
//   top: 5px;
//   left: 0;
// }

p {
   @include adjust-font-size-to(16px);
	@include trailer(2, 16px);

   // line-height: 24px;
   // I needed this static way to fix a problem
   // line-heingt: 23.984375px end up with 46px 
   // when it cross 2 lines and break the rhythm
}


