@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
// @import url('http://maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css');

body {
   // margin: rhythm(8) rhythm(8);
   font-family: $mainFont;
}
::selection {
   background: $yamabuki;
   color: $white;
}

.scene {

   h1 {
      font-family: $sourceSans;
      font-weight: 200;
      @include adjust-font-size-to(60px);
      @include leader(5, 60px);
      // @include trailer(4, 60px);
      span {
         padding-right: 13px;
         // color: lighten($black, 30);
      }
   }
   article h1 {
      font-family: $notoSans;
      font-weight: 100;
      @include adjust-font-size-to(30px);
      @include leader(2, 30px);
      @include trailer(2, 30px);
      line-height: 40px; //To fix the auto line-height
      // margin-top: 0;
   }

   h2 {
      font-family: $notoSans;
      font-weight: 100;
      @include adjust-font-size-to(40px);
      @include leader(2, 40px);
      // @include trailer(4, 40px);
   }
   &#intro h2:not(:nth-child(2)) {
      font-family: $notoSans;
      font-weight: 100;
      @include adjust-font-size-to(30px);
      @include leader(7, 30px);
      // @include trailer(1, 30px);
      line-height: 40px; //To fix the auto line-height
   }
   &#process h2 {
      @include trailer(3, 40px);
   }

   h3 {
      font-family: $notoSans;
      font-weight: 100;
      @include adjust-font-size-to(30px);
      @include leader(5, 30px);
      @include trailer(2, 30px);
      line-height: 40px; //To fix the auto line-height
   }

} //scene

p {
   @include adjust-font-size-to(14px);
   line-height: 24px;
	@include trailer(2, 14px);
   margin-bottom: 16px;

}


