
.scene {
   position: relative;
   padding: rhythm(4) 0; 
   &#as_housing {
      padding-top: 0;
   }
   @include trailer(4);
   @include clearfix;
   .container {
      @include container(95%);
      @include clearfix;
   }
   @include breakpoint($medium) {
      .container {
         @include container;
      } //div
   } //breakpoint
} //.scene


.no-js {
   header .fullheight{
      height: 500px;
      @include breakpoint($small) {
         height: 600px;
      }
   }
   footer #contact {
      right: -75px;
      @include breakpoint($medium) {
         right: -10px;
      }
   } //footer
} //.no-js



/* ----------------------------------------------------------- */
/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */

#grid {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

#grid div.horiz{
	// Use this one NOT using a global border-box setting
	// height: $base-line-height - 1px;
	
	// Use this one if you ARE using a global border-box setting
    height: $base-line-height;
    
    // Carry on...
    border-bottom: 1px solid #ddd;
    margin: 0;
    padding: 0;
}

