@include border-box-sizing; //uses border box sizing like the old IE...sweet.
// I should use this instead?
// html {
//   box-sizing: border-box;
// }
// *, *:before, *:after {
//   box-sizing: inherit;
// }

//Susy Global Settings
$susy: (
  columns: 12,
  container: 60em,
  gutters: 0,
  gutter-position: inside,
  debug: (
    image: show,
    color: blue,
    output: overlay,
    toggle: top right,
  )
);

$mainFont: "&#12513;&#12452;&#12522;&#12458;","Meiryo","&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3","Hiragino Kaku Gothic Pro","MS P&#12468;&#12471;&#12483;&#12463;","MS P Gothic",sans-serif;
$notoSans: "Noto Sans Japanese", "&#12513;&#12452;&#12522;&#12458;","Meiryo","&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3","Hiragino Kaku Gothic Pro","MS P&#12468;&#12471;&#12483;&#12463;","MS P Gothic",sans-serif;

// $fontHelvetica: "Helvetica Neue",Arial,Helvetica,sans-serif;
// $fontBlack: "Arial Black", "Helvetica Neue",Arial,Helvetica,sans-serif;
// $fontVerdana: Verdana, "Helvetica Neue",Arial,Helvetica,sans-serif;
$sourceSans: "Source Sans Pro", "Helvetica Neue",Arial,Helvetica,sans-serif;
$raleway: "Raleway", "Helvetica Neue",Arial,Helvetica,sans-serif;

// Colors
$white: #fff;
$black: #000;
$usuao: #91B493;
$momo: #F596AA;
$yamabuki: #FFB11B;
$kuchiba: #E2943B;

// Color Test
$uguisucha: #6C6024;
$chigusa: #3A8FB7;
$tsuyukusa: #2EA9DF;
$gunjyo: #51A8DD;
$wasurenagusa: #7DB9DE;
$nae: #86C166;
$tamamorokoshi: #E8B647;
$kihada: #FBE251;
$ake: #CC543A;
$omeshicha: #376B6D;
$kokikuchinashi: #FB9966;
$sakura: #FEDFE1;
$syojyohi: #E83015;
$kurenai: #CB1B45;
$nakabeni: #DB4D6D;
$benihi: #F75C2F;
$aku: #877F6C;
$rikyucha: #897D55;
$rikyushiracha: #B4A582;
$nanohana: #F7D94C;
$byakuroku: #A8D8B9;
$wakatake: #5DAC81;
$aotake: #00896C;
$rokucho: #24936E;
$ruri: #005CAF;
$ominaeshi: #DDD23B;
$byakugun: #78C2C4;
$asagi: #33A6B8;
$hanaasagi: #1E88A8;
$mizu: #81C7D4;
$sora: #58B2DC;
$chigusa: #3A8FB7;
$benifuji: #B481BB;
$botan: #C1328E;
$tsutsuji: #E03C8A;
$hai: #828282;
$ginnezumi: #91989F;



// Fonts, measure, leading and typefaces
// ------------------------------------------------------------


// Fonts size and line height defaults for our calculations

$base-font-size						: 16px; 				// Sets the browser default size. Shouldn't need to change this.
$base-line-height					: 8px;					// Baseline grid. Set to a sensible, small size.
$round-to-nearest-half-line			: false;  				// Round the line height to the nearest half line height. Off by default 



//Breakpoint variables
$narrow: 400px;
$small: 650px;
$medium: 960px;
$wide: 1200px;

