#accessibility {
   main {
      margin-top: rhythm(6);
      &>div {
         @include breakpoint($small) {
            @include span(4);
         }
      }
   }
   .fullheight {
      background: url('/images/accessibility.jpg');
      @include bgCover(30% top, scroll);
      margin-bottom: 50px;
      max-width: 500px;
   } //fullheight
   .first-block, .second-block {
      @include gutters(3em inside);
   }
} //accessibility
