#shrewd, #as_housing, #vs_print {

   div {
      // @include bgCover;
      @include centering;
      article {
         @include clearfix;
         @include border-radius(10px);
         padding: rhythm(2) 30px;
         color: $white;
         background: darken($kihada, 10);
         @include background-image(
            linear-gradient(
               left, darken($kihada, 20),  darken($kihada, 10)
            )
         );
         // background: $yamabuki;
         // @include background-image(
         //    linear-gradient(
         //       right, $kuchiba, $yamabuki
         //    )
         // );
         @include breakpoint(750px) {
            @include pre(2);
         }
         @include breakpoint($medium) {
            @include pre(3);
         }
         h1 {
            color: darken($kihada, 30);
            @include single-text-shadow(lighten($kihada, 20), -1px, -1px);
            // dislplay: inline-block;
            // background: $white;
         }
         p {
            padding-right: 1.5em;
            @include breakpoint($small) {
                  @include span(1 of 2);
                  &.expand {
                     @include span(1 of 1);
                     margin-top: 1em;
                  }
            } //breakpoint
         }
      } //article

   } //div 
} //#shrewd, #as_housing, #vs_print


#shrewd {
   background: $aku;
   @include background-image(
      linear-gradient(
         left, lighten($black, 30),  lighten($kihada, 10)
      )
   );
   h1 {
      font-family: $raleway;
      font-weight: 200;
   }
} //#shrewd

#as_housing {
   background: $ake;
} //as_housing

#vs_print {
   background: $omeshicha;
} //#vs_print

