#shrewd, #no_design, #as_housing, #vs_print {

   div {
      padding: rhythm(8) 0;
      @include breakpoint($small) {
         padding: rhythm(12) 0;
      }
      @include breakpoint($medium) {
         padding: rhythm(16) 0;
      }
      // @include bgCover;
      // @include centering;
      article {
         @include clearfix;
         @include border-radius(10px);
         padding: rhythm(2) 30px;
         color: $white;
         background: darken($kihada, 10);
         @include background-image(
            linear-gradient(
               left, darken($kihada, 20),  darken($kihada, 10)
            )
         );
         // background: $yamabuki;
         // @include background-image(
         //    linear-gradient(
         //       right, $kuchiba, $yamabuki
         //    )
         // );
         @include breakpoint(750px) {
            @include pre(2);
         }
         @include breakpoint($medium) {
            @include pre(3);
         }
         h1 {
            color: darken($kihada, 30);
            @include single-text-shadow(lighten($kihada, 20), -1px, -1px);
            // dislplay: inline-block;
            // background: $white;
         }
         p {
            padding-right: 1.5em;
            @include breakpoint($small) {
                  @include span(1 of 2);
                  &.expand {
                     @include span(1 of 1);
                     margin-top: 1em;
                  }
            } //breakpoint
         }
      } //article

   } //div 
} //#shrewd, #as_housing, #vs_print


#shrewd, #no_design {
   div {
      padding: rhythm(12) 0;
      @include breakpoint($small) {
         padding: rhythm(20) 0;
      }
      @include breakpoint($medium) {
         padding: rhythm(26) 0;
      }
   }
   h1 {
      font-family: $raleway;
      font-weight: 200;
   }
} //#shrewd, #no_design

#shrewd {
   background: $aku;
   @include background-image(
      linear-gradient(
         right, lighten($black, 30),  lighten($kihada, 10)
      )
   );
} //#shrewd

#no_design {
   background: $aku;
   @include background-image(
      linear-gradient(
         left, lighten($black, 30),  lighten($kihada, 10)
      )
   );
} //#no_design



#as_housing {
   background: $ake;
} //as_housing

#vs_print {
   background: $omeshicha;
} //#vs_print


#motto, #is_an_art {
   @include clearfix;
   color: white;
   margin: rhythm(8) 0;
   @include breakpoint($small) {
      padding: rhythm(6) 0;
      margin: rhythm(9) 0 rhythm(15);
   }
   h1 {
      font-family: $times; 
      font-style: italic;
      @include adjust-font-size-to(30px);
      span {
         padding: 0 10px;
         background: $syojyohi;
         @include background-image(
            linear-gradient(
               right, $kurenai, $syojyohi
            )
         );
      } //span
      @include breakpoint($small) {
         @include adjust-font-size-to(40px);
         span {
            padding: 0 20px;
         } //span
      } //breakpoint
   } //h1
   h2 {
      font-family: $notoSans;
      font-weight: 100;
      @include adjust-font-size-to(15px);
      text-align: right;
      span {
         padding: 0 5px;
         background: $syojyohi;
         @include background-image(
            linear-gradient(
               left, $kurenai, $syojyohi
            )
         );
      } //span
      @include breakpoint($small) {
         @include adjust-font-size-to(25px);
         margin-top: 2px; //!!!Need to offset in someway for baseline grid. w
         
         span {
            padding: 0 10px;
         }
      } //breakpoint
   } //h2
} //#motto
