#intro {
   header {
      color: white;
      @include clearfix;
      margin-bottom: .5em;
      overflow: hidden;
      &>div:first-child {
         @include clearfix;
         @include centering;
         background: $ake;
         @include gradientBorders($ake);
         h1, h2 {
            @include text-shadow( darken($ake, 10) -1px -1px);
         }
         padding: rhythm(10) rhythm(2);
         @include breakpoint($small max-width) {
            margin-bottom: .5em;
         }
         @include breakpoint($small) {
            padding: rhythm(20) rhythm(2);
            @include span(6);
            border-right: 4px solid #fff;
         } //small
         @include breakpoint($medium) {
            // padding-top: 8em;
            // padding-left: 4em;
            height: 30em;
         } //medium
      } //div:first-child 
      &>div:nth-child(2) {
         width: 100%;
         overflow: hidden;
         @include clearfix;
         @include breakpoint($small) {
            @include span(6);
         }
         @include breakpoint($medium) {
            height: 30em;
         }
         &>ul {
            &>li {
               padding: rhythm(2);
               @include breakpoint($small max-width) {
                  padding: rhythm(4) rhythm(2);
                  margin-bottom: .5em;
               }
            } //li
            &>li:first-child {
               // margin-bottom: .5em;
               background: $nakabeni;
               // background: $asagi;
               transition: background .5s ease-out;
               // &:hover {
               //    background: $nakabeni;
               // }
               @include breakpoint($medium) {
                  padding-left: rhythm(4);
                  height: 15em;
               }
               @include breakpoint(840px) {
                  padding-top: rhythm(6);
               }
               @include breakpoint($small) {
                  border-bottom: 4px solid #fff;
                  border-left: 4px solid #fff;
               }
            } //li:first-child
            &>li:nth-child(2) {
               background: $omeshicha;
               @include breakpoint($medium) {
                  padding-top: rhythm(3);
                  padding-left: rhythm(4);
                  height: 15em;
               }
               @include breakpoint($small 900px) {
                  h3 {
                     @include trailer(1, 30px);
                  }
                  p {
                     margin-bottom: 0;
                  }
               }
               @include breakpoint($small) {
                  border-top: 4px solid #fff;
                  border-left: 4px solid #fff;
               }
            } //li:nth-child(2)
         } //div>ul
      } //div:nth-child(2)
   } //header
   #graphic {
      @include clearfix;
      margin-bottom: .5em;
      color: white;
      h2, h3, ul {
         width: 100%;
         margin-bottom: 8px;
         @include breakpoint($small) {
            @include span(4);
            height: 320px;
            margin-bottom: 0;
         }
      } //h2, h3, ul
      h2 {
         background: $nanohana;
         color: darken($tamamorokoshi, 20);
         @include gradientBorders($nanohana);
         @include text-shadow( lighten($nanohana, 20) -1px -1px);
         margin-top: 0;
         @include centering;
         padding: 1.0em;
         @include breakpoint($small) {
            border-left: 4px solid #fff;
            border-right: 4px solid #fff;
         } //h2
      }
      h3 {
         background: $tamamorokoshi;
         text-align: right;
         padding: rhythm(12, 30px) rhythm(2, 30px);
         @include text-shadow( darken($tamamorokoshi, 10) -1px -1px);
         // padding: .5em;
         // @include centering;
         @include breakpoint($small) {
            padding: rhythm(6, 30px) rhythm(1, 30px);
            border-right: 4px solid #fff;
         }
         @include breakpoint(800px) {
            padding: rhythm(10, 30px) rhythm(1, 30px);
         }
         @include breakpoint($medium) {
            padding: rhythm(15, 30px) rhythm(1, 30px);
         }
      } //h3
      ul {
         background: $kihada;
         color: darken($tamamorokoshi, 20);
         padding: 2em 1.0em 1em;
         @include breakpoint($small) {
            border-left: 4px solid #fff;
         }
         @include breakpoint($small $medium) {
            p {
               margin-bottom: 0;
            }
         }
         @include breakpoint($medium) {
            padding-top: 4.0em;
         }
      } //ul
   } //#graphic
   #webdesign {
      div, ul {
         width: 100%;
         color: white;
         margin-bottom: 8px;
         @include breakpoint($small) {
            @include span(6);
            height: 320px;
            margin-bottom: 0;
         }
      } //div, ul
      &>div {
         background: $wakatake;
         @include text-shadow( darken($wakatake, 10) -1px -1px);
         padding: 6.0em 1.0em;
         @include breakpoint($small) {
            border-left: 4px solid #fff;
            float: right;
         }
         @include breakpoint($small 720px) {
            padding-top: 5.0em;
         }
      } // div
      ul {
         background: $nae;
         text-align: right;
         padding: 2em .5em 1em;
         @include breakpoint($small) {
            padding-top: 3.0em;
            border-right: 4px solid #fff;
         }
      } //ul
   } //webdesign
} //#intro

#motto {
   @include clearfix;
   color: white;
   margin: rhythm(8) 0;
   @include breakpoint($small) {
      padding: rhythm(6) 0;
      margin: rhythm(9) 0 rhythm(15);
   }
   h1 {
      font-family: "Times New Roman", Times, Georgia, serif;
      font-style: italic;
      @include adjust-font-size-to(30px);
      span {
         padding: 0 10px;
         background: $syojyohi;
         @include background-image(
            linear-gradient(
               right, $kurenai, $syojyohi
            )
         );
      } //span
      @include breakpoint($small) {
         @include adjust-font-size-to(40px);
         span {
            padding: 0 20px;
         } //span
      } //breakpoint
   } //h1
   h2 {
      font-family: $notoSans;
      font-weight: 100;
      @include adjust-font-size-to(15px);
      text-align: right;
      span {
         padding: 0 5px;
         background: $syojyohi;
         @include background-image(
            linear-gradient(
               left, $kurenai, $syojyohi
            )
         );
      } //span
      @include breakpoint($small) {
         @include adjust-font-size-to(25px);
         margin-top: 2px;
         span {
            padding: 0 10px;
         }
      } //breakpoint
   } //h2
} //#motto
