#intro {
   h1 {
      font-family: $sourceSans;
      font-weight: 200;
      @include adjust-font-size-to(60px);
      @include leader(4, 60px)
   }
   h2 {
      font-family: $notoSans;
      font-weight: 200;
      @include adjust-font-size-to(40px);
      @include leader(4, 40px);
      @include trailer(4, 40px);
   }
}
