header nav {
   @include clearfix;
   @include background-image(
      linear-gradient(
         top, lighten($usuao, 20), $usuao
      )
   );
   z-index:50;
   width: 100%;
   color: #fff;
   // height: 44px;

   #main_nav {
      @include container;
      h3 {
         height: 45px;
         @include span(4);
         @include adjust-font-size-to(20px);
         margin: {
            top: 0;
            bottom: 0;
         }
         font-family: $fontHelvetica;
         @include button;
         // @include box-shadow(
         //    lighten($kuchiba, 10) 0 1px 10px
         // );
         
         a {
            color: $white;
            font-weight: bold;
            text-decoration: none;
            display: block;
            padding: 10px;
            text-align: center;
            position: relative;
            z-index: 3;
            // @include single-text-shadow(darken($usuao, 10), -1px, -1px);
         } // a

         @include breakpoint(max-width $medium) {
            span#studio {
               display: none;
            }
         } //breakpoint

         @include breakpoint(max-width $small) {
            span#design {
               display: none;
            }
         } //breakpoint

      } //h3

      ul {
         li {
            @include span(2);
            text-align: center;
            height: 100%;
            transition: all 0.5s ease-out;
            float: left;
            // position: relative;
            // z-index: 1;
            padding: {
               right: 0;
               left: 0;
            }
            a {
               color: $white;
               font-family: $sourceSans;
               font-size: 20px;
               font-weight: 400;
               text-decoration: none;
               display: inline-block;
               height: 45px;
               width: 100%;
               padding: {
                  top: 12px;
                  bottom: 12px;
               }
               position: relative;
               z-index: 3;

               &.active {
               background-color: $kuchiba;
               @include background-image(
                  linear-gradient(
                     bottom, lighten($kuchiba, 20), $kuchiba
                  )
               );
               @include box-shadow(
                  lighten($kuchiba, 10) 0 1px 10px
               );
               }

               i {
                  // position: absolute;
                  // top: 10px;
                  // left: 10px;
                  padding-right: 5px;
                  font-size: 18px;
                  @include breakpoint($medium max-width) {
                      display: none;
                  } //breakpoint medium
               } //i

               @include breakpoint($small max-width) {
                  i {
                   display: inline-block;
                   font-size: inherit;
                  } 
                  span {
                   display: none;
                  }
               } //breakpoint small
            } //a

            @include gradientTransition;
          
         } //li
      } //ul
   } //main_nav

   &.navShadow {
      @include box-shadow(
         darken($usuao, 10) 0 2px 10px
      );
      h3:hover {
         @include box-shadow(
            darken($kuchiba, 10) 0 2px 10px
         );
      }
   } //navShadow

}  //nav
