/* @import "compass"; */
@import url(http://fonts.googleapis.com/earlyaccess/notosansjapanese.css);
/* line 5, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 21, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 4, ../../../components/sass/_base.scss */
body {
  font-family: "&#12513;&#12452;&#12522;&#12458;", "Meiryo", "&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3", "Hiragino Kaku Gothic Pro", "MS P&#12468;&#12471;&#12483;&#12463;", "MS P Gothic", sans-serif;
}

/* line 8, ../../../components/sass/_base.scss */
::selection {
  background: #FBE251;
  color: #fff;
}

/* line 15, ../../../components/sass/_base.scss */
.scene h1 {
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 200;
  font-size: 3.75em;
  line-height: 1.06667em;
}
/* line 21, ../../../components/sass/_base.scss */
.scene h1 span {
  padding-right: 13px;
}
/* line 26, ../../../components/sass/_base.scss */
.scene article h1 {
  font-family: "Noto Sans Japanese", "&#12513;&#12452;&#12522;&#12458;", "Meiryo", "&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3", "Hiragino Kaku Gothic Pro", "MS P&#12468;&#12471;&#12483;&#12463;", "MS P Gothic", sans-serif;
  font-weight: 100;
  font-size: 1.875em;
  line-height: 1.33333em;
  margin-top: 0.53333em;
  margin-bottom: 0.53333em;
  line-height: 40px;
}
/* line 36, ../../../components/sass/_base.scss */
.scene h2 {
  font-family: "Noto Sans Japanese", "&#12513;&#12452;&#12522;&#12458;", "Meiryo", "&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3", "Hiragino Kaku Gothic Pro", "MS P&#12468;&#12471;&#12483;&#12463;", "MS P Gothic", sans-serif;
  font-weight: 100;
  font-size: 2.5em;
  line-height: 1.2em;
  margin-top: 0.4em;
}
/* line 51, ../../../components/sass/_base.scss */
.scene#process h2 {
  margin-bottom: 0.6em;
}
/* line 55, ../../../components/sass/_base.scss */
.scene h3 {
  font-family: "Noto Sans Japanese", "&#12513;&#12452;&#12522;&#12458;", "Meiryo", "&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3", "Hiragino Kaku Gothic Pro", "MS P&#12468;&#12471;&#12483;&#12463;", "MS P Gothic", sans-serif;
  font-weight: 100;
  font-size: 1.875em;
  line-height: 1.33333em;
  margin-bottom: 0.53333em;
  line-height: 40px;
}

/* line 66, ../../../components/sass/_base.scss */
p {
  font-size: 0.875em;
  line-height: 1.71429em;
  line-height: 24px;
  margin-bottom: 1.14286em;
  margin-bottom: 16px;
}

/* line 2, ../../../components/sass/_layout.scss */
.scene {
  position: relative;
  padding: 2em 0;
  margin-bottom: 2em;
}
/* line 5, ../../../components/sass/_layout.scss */
.scene#as_housing {
  padding-top: 0;
}
/* line 3, ../../../components/sass/_mixins.scss */
.scene:before, .scene:after {
  content: '';
  display: table;
}
/* line 8, ../../../components/sass/_mixins.scss */
.scene:after {
  clear: both;
}
/* line 10, ../../../components/sass/_layout.scss */
.scene .container {
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.scene .container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 65, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head {
  display: block;
  position: fixed;
  right: 10px;
  top: 10px;
  z-index: 999;
  color: #333;
  background: rgba(255, 255, 255, 0.25);
}
/* line 66, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head:before {
  content: "|||";
  display: block;
  padding: 5px 10px;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: bold;
}
/* line 67, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head:hover {
  background: rgba(255, 255, 255, 0.5);
  color: red;
}
/* line 71, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head:hover ~ .scene .container, head:hover ~ body .scene .container {
  position: relative;
}
/* line 74, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head:hover ~ .scene .container:before, head:hover ~ body .scene .container:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDBmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRkNGRmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0000ff), color-stop(100%, #4d4dff)), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, #0000ff, #4d4dff), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, #0000ff, #4d4dff), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, #0000ff, #4d4dff), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.33333%, 100% 8px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
/* line 3, ../../../components/sass/_mixins.scss */
.scene .container:before, .scene .container:after {
  content: '';
  display: table;
}
/* line 8, ../../../components/sass/_mixins.scss */
.scene .container:after {
  clear: both;
}
@media (min-width: 960px) {
  /* line 15, ../../../components/sass/_layout.scss */
  .scene .container {
    max-width: 60em;
    margin-left: auto;
    margin-right: auto;
  }
  /* line 12, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
  .scene .container:after {
    content: " ";
    display: block;
    clear: both;
  }
  /* line 71, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
  head:hover ~ .scene .container, head:hover ~ body .scene .container {
    position: relative;
  }
  /* line 74, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
  head:hover ~ .scene .container:before, head:hover ~ body .scene .container:before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: " ";
    z-index: 998;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDBmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRkNGRmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
    background-size: 100%;
    background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0000ff), color-stop(100%, #4d4dff)), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
    background-image: -moz-linear-gradient(left, #0000ff, #4d4dff), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
    background-image: -webkit-linear-gradient(left, #0000ff, #4d4dff), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
    background-image: linear-gradient(to right, #0000ff, #4d4dff), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
    background-size: 8.33333%, 100% 8px;
    background-origin: content-box, border-box;
    background-clip: content-box, border-box;
    background-position: left top;
  }
}

/* line 23, ../../../components/sass/_layout.scss */
.no-js header .fullheight {
  height: 500px;
}
@media (min-width: 650px) {
  /* line 23, ../../../components/sass/_layout.scss */
  .no-js header .fullheight {
    height: 600px;
  }
}
/* line 29, ../../../components/sass/_layout.scss */
.no-js footer #contact {
  right: -75px;
}
@media (min-width: 960px) {
  /* line 29, ../../../components/sass/_layout.scss */
  .no-js footer #contact {
    right: -10px;
  }
}

/* ----------------------------------------------------------- */
/* ::Debugs and #grid by Jon Gibbins */
/* ----------------------------------------------------------- */
/* line 43, ../../../components/sass/_layout.scss */
#grid {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 50, ../../../components/sass/_layout.scss */
#grid div.horiz {
  height: 8px;
  border-bottom: 1px solid #ddd;
  margin: 0;
  padding: 0;
}

/* line 2, ../../../components/sass/modules/_header.scss */
header .fullheight {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NlZGRjZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkxYjQ5MyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #ceddcf), color-stop(100%, #91b493));
  background-image: -moz-linear-gradient(right, #ceddcf, #91b493);
  background-image: -webkit-linear-gradient(right, #ceddcf, #91b493);
  background-image: linear-gradient(to left, #ceddcf, #91b493);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
/* line 20, ../../../components/sass/modules/_header.scss */
header .fullheight .hgroup {
  position: relative;
  z-index: 100;
}
/* line 23, ../../../components/sass/modules/_header.scss */
header .fullheight .hgroup h1 {
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  background: url("/images/shrewd_logo.png") no-repeat center center;
  width: 305px;
  height: 36px;
  margin: 0 auto;
}
/* line 34, ../../../components/sass/modules/_header.scss */
header .fullheight .hgroup h2 {
  position: absolute;
  top: 4em;
  font-size: 0.75em;
  line-height: 1.33333em;
  font-family: "&#12513;&#12452;&#12522;&#12458;", "Meiryo", "&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3", "Hiragino Kaku Gothic Pro", "MS P&#12468;&#12471;&#12483;&#12463;", "MS P Gothic", sans-serif;
}
/* line 40, ../../../components/sass/modules/_header.scss */
header .fullheight .hgroup h2 span {
  border: 1px solid #e6e6e6;
  background: #fff;
  line-height: 1.8;
}
/* line 47, ../../../components/sass/modules/_header.scss */
header .fullheight .hgroup p {
  text-align: center;
  position: relative;
  top: 8em;
  margin-bottom: 0;
}
/* line 52, ../../../components/sass/modules/_header.scss */
header .fullheight .hgroup p span {
  transition: color .5s ease-out;
  color: #CB1B45;
  font-size: 55px;
}
/* line 58, ../../../components/sass/modules/_header.scss */
header .fullheight .hgroup p span:hover {
  color: #E83015;
  text-shadow: #8a1d0d 0 0 1px;
}

/* line 1, ../../../components/sass/modules/_nav.scss */
header nav {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzVkYWFhZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzM3NmI2ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5daaad), color-stop(100%, #376b6d));
  background-image: -moz-linear-gradient(top, #5daaad, #376b6d);
  background-image: -webkit-linear-gradient(top, #5daaad, #376b6d);
  background-image: linear-gradient(to bottom, #5daaad, #376b6d);
  z-index: 50;
  width: 100%;
  color: #fff;
}
/* line 3, ../../../components/sass/_mixins.scss */
header nav:before, header nav:after {
  content: '';
  display: table;
}
/* line 8, ../../../components/sass/_mixins.scss */
header nav:after {
  clear: both;
}
/* line 13, ../../../components/sass/modules/_nav.scss */
header nav #main_nav {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
header nav #main_nav:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 71, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head:hover ~ header nav #main_nav, head:hover ~ body header nav #main_nav {
  position: relative;
}
/* line 74, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head:hover ~ header nav #main_nav:before, head:hover ~ body header nav #main_nav:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDBmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRkNGRmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0000ff), color-stop(100%, #4d4dff)), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, #0000ff, #4d4dff), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, #0000ff, #4d4dff), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, #0000ff, #4d4dff), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.33333%, 100% 8px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}
/* line 15, ../../../components/sass/modules/_nav.scss */
header nav #main_nav h3 {
  height: 45px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.33333%;
  float: left;
  font-size: 1.25em;
  line-height: 1.2em;
  margin-top: 0;
  margin-bottom: 0;
  font-family: "Raleway", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  background: #FBE251;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxYzEwNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZTI1MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e1c105), color-stop(100%, #fbe251));
  background-image: -moz-linear-gradient(bottom, #e1c105, #fbe251);
  background-image: -webkit-linear-gradient(bottom, #e1c105, #fbe251);
  background-image: linear-gradient(to top, #e1c105, #fbe251);
  position: relative;
  z-index: 1;
  -moz-box-shadow: #e1c105 0 1px 10px;
  -webkit-box-shadow: #e1c105 0 1px 10px;
  box-shadow: #e1c105 0 1px 10px;
}
/* line 40, ../../../components/sass/_mixins.scss */
header nav #main_nav h3:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxYzEwNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZTI1MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1c105), color-stop(100%, #fbe251));
  background-image: -moz-linear-gradient(top, #e1c105, #fbe251);
  background-image: -webkit-linear-gradient(top, #e1c105, #fbe251);
  background-image: linear-gradient(to bottom, #e1c105, #fbe251);
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}
/* line 59, ../../../components/sass/_mixins.scss */
header nav #main_nav h3:hover:after {
  opacity: 1;
}
/* line 36, ../../../components/sass/modules/_nav.scss */
header nav #main_nav h3:hover {
  -moz-box-shadow: #fdf3b5 0 1px 10px;
  -webkit-box-shadow: #fdf3b5 0 1px 10px;
  box-shadow: #fdf3b5 0 1px 10px;
}
/* line 42, ../../../components/sass/modules/_nav.scss */
header nav #main_nav h3 a {
  color: #af9604;
  text-decoration: none;
  display: block;
  padding: 10px;
  text-align: center;
  position: relative;
  z-index: 3;
  text-shadow: -1px -1px 1px #fdf3b5;
}
@media (max-width: 960px) {
  /* line 54, ../../../components/sass/modules/_nav.scss */
  header nav #main_nav h3 span#studio {
    display: none;
  }
}
@media (max-width: 650px) {
  /* line 60, ../../../components/sass/modules/_nav.scss */
  header nav #main_nav h3 span#design {
    display: none;
  }
}
/* line 68, ../../../components/sass/modules/_nav.scss */
header nav #main_nav ul li {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 16.66667%;
  float: left;
  text-align: center;
  height: 100%;
  transition: all 0.5s ease-out;
  float: left;
  padding-right: 0;
  padding-left: 0;
  position: relative;
  z-index: 1;
}
/* line 80, ../../../components/sass/modules/_nav.scss */
header nav #main_nav ul li a {
  color: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-decoration: none;
  display: inline-block;
  height: 45px;
  width: 100%;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  z-index: 3;
}
/* line 98, ../../../components/sass/modules/_nav.scss */
header nav #main_nav ul li a:hover {
  color: #af9604;
  text-shadow: -1px -1px 1px #fcea83;
  -moz-box-shadow: #fcea83 0 2px 10px;
  -webkit-box-shadow: #fcea83 0 2px 10px;
  box-shadow: #fcea83 0 2px 10px;
}
/* line 106, ../../../components/sass/modules/_nav.scss */
header nav #main_nav ul li a.active {
  color: #af9604;
  background-color: #FBE251;
  background: #FBE251;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxYzEwNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZTI1MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e1c105), color-stop(100%, #fbe251));
  background-image: -moz-linear-gradient(bottom, #e1c105, #fbe251);
  background-image: -webkit-linear-gradient(bottom, #e1c105, #fbe251);
  background-image: linear-gradient(to top, #e1c105, #fbe251);
  -moz-box-shadow: #e1c105 0 1px 10px;
  -webkit-box-shadow: #e1c105 0 1px 10px;
  box-shadow: #e1c105 0 1px 10px;
}
/* line 121, ../../../components/sass/modules/_nav.scss */
header nav #main_nav ul li a i {
  padding-right: 5px;
  font-size: 18px;
}
@media (max-width: 960px) {
  /* line 121, ../../../components/sass/modules/_nav.scss */
  header nav #main_nav ul li a i {
    display: none;
  }
}
@media (max-width: 650px) {
  /* line 133, ../../../components/sass/modules/_nav.scss */
  header nav #main_nav ul li a i {
    display: inline-block;
    font-size: inherit;
  }
  /* line 137, ../../../components/sass/modules/_nav.scss */
  header nav #main_nav ul li a span {
    display: none;
  }
}
/* line 40, ../../../components/sass/_mixins.scss */
header nav #main_nav ul li:after {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UxYzEwNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZTI1MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e1c105), color-stop(100%, #fbe251));
  background-image: -moz-linear-gradient(top, #e1c105, #fbe251);
  background-image: -webkit-linear-gradient(top, #e1c105, #fbe251);
  background-image: linear-gradient(to bottom, #e1c105, #fbe251);
  transition: opacity 0.5s ease-out;
  z-index: 2;
  opacity: 0;
}
/* line 59, ../../../components/sass/_mixins.scss */
header nav #main_nav ul li:hover:after {
  opacity: 1;
}
/* line 149, ../../../components/sass/modules/_nav.scss */
header nav.navShadow {
  -moz-box-shadow: #264a4b 0 2px 10px;
  -webkit-box-shadow: #264a4b 0 2px 10px;
  box-shadow: #264a4b 0 2px 10px;
}

/* line 2, ../../../components/sass/modules/_intro.scss */
#intro header {
  color: white;
}
/* line 3, ../../../components/sass/_mixins.scss */
#intro header:before, #intro header:after {
  content: '';
  display: table;
}
/* line 8, ../../../components/sass/_mixins.scss */
#intro header:after {
  clear: both;
}
/* line 5, ../../../components/sass/modules/_intro.scss */
#intro header > div:first-child {
  background: #7DB9DE;
  padding: 10em 1em;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 650px) {
  /* line 5, ../../../components/sass/modules/_intro.scss */
  #intro header > div:first-child {
    margin-bottom: .5em;
  }
}
@media (min-width: 650px) {
  /* line 5, ../../../components/sass/modules/_intro.scss */
  #intro header > div:first-child {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
    border-right: 4px solid #fff;
  }
}
@media (min-width: 960px) {
  /* line 5, ../../../components/sass/modules/_intro.scss */
  #intro header > div:first-child {
    height: 30em;
  }
}
/* line 3, ../../../components/sass/_mixins.scss */
#intro header > div:nth-child(2):before, #intro header > div:nth-child(2):after {
  content: '';
  display: table;
}
/* line 8, ../../../components/sass/_mixins.scss */
#intro header > div:nth-child(2):after {
  clear: both;
}
@media (min-width: 650px) {
  /* line 22, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}
@media (min-width: 960px) {
  /* line 22, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) {
    height: 30em;
  }
}
/* line 31, ../../../components/sass/modules/_intro.scss */
#intro header > div:nth-child(2) > ul > li {
  padding: 1em;
}
@media (max-width: 650px) {
  /* line 31, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) > ul > li {
    padding: 2em 1em;
    margin-bottom: .5em;
  }
}
/* line 38, ../../../components/sass/modules/_intro.scss */
#intro header > div:nth-child(2) > ul > li:first-child {
  background: #2EA9DF;
  transition: background .5s ease-out;
}
/* line 42, ../../../components/sass/modules/_intro.scss */
#intro header > div:nth-child(2) > ul > li:first-child:hover {
  background: #F596AA;
}
@media (min-width: 960px) {
  /* line 38, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) > ul > li:first-child {
    padding-left: 2em;
    height: 15em;
  }
}
@media (min-width: 840px) {
  /* line 38, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) > ul > li:first-child {
    padding-top: 3em;
  }
}
@media (min-width: 650px) {
  /* line 38, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) > ul > li:first-child {
    border-bottom: 4px solid #fff;
    border-left: 4px solid #fff;
  }
}
/* line 57, ../../../components/sass/modules/_intro.scss */
#intro header > div:nth-child(2) > ul > li:nth-child(2) {
  background: #51A8DD;
}
@media (min-width: 960px) {
  /* line 57, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) > ul > li:nth-child(2) {
    padding-top: 1.5em;
    padding-left: 2em;
    height: 15em;
  }
}
@media (min-width: 650px) and (max-width: 900px) {
  /* line 65, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) > ul > li:nth-child(2) h3 {
    margin-bottom: 0.26667em;
  }
  /* line 68, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) > ul > li:nth-child(2) p {
    margin-bottom: 0;
  }
}
@media (min-width: 650px) {
  /* line 57, ../../../components/sass/modules/_intro.scss */
  #intro header > div:nth-child(2) > ul > li:nth-child(2) {
    border-top: 4px solid #fff;
    border-left: 4px solid #fff;
  }
}

/* line 2, ../../../components/sass/modules/_skills.scss */
#skills h3 {
  margin-bottom: 0px;
}
/* line 6, ../../../components/sass/modules/_skills.scss */
#skills h4 {
  font-family: "Noto Sans Japanese", "&#12513;&#12452;&#12522;&#12458;", "Meiryo", "&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3", "Hiragino Kaku Gothic Pro", "MS P&#12468;&#12471;&#12483;&#12463;", "MS P Gothic", sans-serif;
  font-weight: 100;
  font-size: 1.25em;
  line-height: 1.2em;
  margin-bottom: 0.4em;
}
/* line 14, ../../../components/sass/modules/_skills.scss */
#skills ul.top > li ul.nested li {
  font-size: 1em;
  line-height: 1.5em;
}
@media (min-width: 650px) {
  /* line 13, ../../../components/sass/modules/_skills.scss */
  #skills ul.top > li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}
@media (min-width: 960px) {
  /* line 13, ../../../components/sass/modules/_skills.scss */
  #skills ul.top > li {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 33.33333%;
    float: left;
  }
}

/* line 3, ../../../components/sass/_mixins.scss */
#process div:before, #process div:after {
  content: '';
  display: table;
}
/* line 8, ../../../components/sass/_mixins.scss */
#process div:after {
  clear: both;
}
@media (min-width: 650px) {
  /* line 5, ../../../components/sass/modules/_process.scss */
  #process div div {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
}

/* line 4, ../../../components/sass/modules/_article.scss */
#shrewd div article, #as_housing div article, #vs_print div article {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  padding: 1em 30px;
  background: #FFB11B;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjEuMCIgeTE9IjAuNSIgeDI9IjAuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyOTQzYiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYjExYiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 100% 50%, 0% 50%, color-stop(0%, #e2943b), color-stop(100%, #ffb11b));
  background-image: -moz-linear-gradient(right, #e2943b, #ffb11b);
  background-image: -webkit-linear-gradient(right, #e2943b, #ffb11b);
  background-image: linear-gradient(to left, #e2943b, #ffb11b);
  color: #fff;
}
/* line 3, ../../../components/sass/_mixins.scss */
#shrewd div article:before, #shrewd div article:after, #as_housing div article:before, #as_housing div article:after, #vs_print div article:before, #vs_print div article:after {
  content: '';
  display: table;
}
/* line 8, ../../../components/sass/_mixins.scss */
#shrewd div article:after, #as_housing div article:after, #vs_print div article:after {
  clear: both;
}
@media (min-width: 750px) {
  /* line 4, ../../../components/sass/modules/_article.scss */
  #shrewd div article, #as_housing div article, #vs_print div article {
    margin-left: 16.66667%;
  }
}
@media (min-width: 960px) {
  /* line 4, ../../../components/sass/modules/_article.scss */
  #shrewd div article, #as_housing div article, #vs_print div article {
    margin-left: 25%;
  }
}
/* line 21, ../../../components/sass/modules/_article.scss */
#shrewd div article p, #as_housing div article p, #vs_print div article p {
  padding-right: 1.5em;
}
@media (min-width: 650px) {
  /* line 21, ../../../components/sass/modules/_article.scss */
  #shrewd div article p, #as_housing div article p, #vs_print div article p {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 50%;
    float: left;
  }
  /* line 25, ../../../components/sass/modules/_article.scss */
  #shrewd div article p.expand, #as_housing div article p.expand, #vs_print div article p.expand {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    float: left;
    margin-top: 1em;
  }
}

/* line 1, ../../../components/sass/modules/_footer.scss */
footer {
  position: fixed;
  z-index: 100;
  right: 0;
  bottom: 0;
}
/* line 6, ../../../components/sass/modules/_footer.scss */
footer #contact {
  position: absolute;
  bottom: 300px;
  right: 2500px;
  transition: all 0.5s ease-out;
  background-color: #FBE251;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZkZjNiNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZTI1MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fdf3b5), color-stop(100%, #fbe251));
  background-image: -moz-linear-gradient(bottom, #fdf3b5, #fbe251);
  background-image: -webkit-linear-gradient(bottom, #fdf3b5, #fbe251);
  background-image: linear-gradient(to top, #fdf3b5, #fbe251);
  -moz-box-shadow: #e1c105 0 1px 5px;
  -webkit-box-shadow: #e1c105 0 1px 5px;
  box-shadow: #e1c105 0 1px 5px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: 1px solid #FBE251;
}
/* line 11, ../../../components/sass/modules/_footer.scss */
footer #contact a {
  padding: 0 10px;
  color: #af9604;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  display: inline-block;
  padding-top: 12px;
  padding-bottom: 12px;
  position: relative;
  z-index: 3;
  text-shadow: -1px -1px 1px #e1c105;
}
/* line 25, ../../../components/sass/modules/_footer.scss */
footer #contact a i {
  font-size: 18px;
  padding-right: 5px;
}
@media (min-width: 960px) {
  /* line 6, ../../../components/sass/modules/_footer.scss */
  footer #contact {
    padding-right: 20px;
  }
}
/* line 49, ../../../components/sass/modules/_footer.scss */
footer #contact:after {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
}
/* line 53, ../../../components/sass/modules/_footer.scss */
footer #contact.slideIn {
  right: -75px;
}
@media (min-width: 960px) {
  /* line 53, ../../../components/sass/modules/_footer.scss */
  footer #contact.slideIn {
    right: -10px;
  }
}
/* line 59, ../../../components/sass/modules/_footer.scss */
footer #contact:hover {
  -moz-box-shadow: #fcea83 0 1px 10px;
  -webkit-box-shadow: #fcea83 0 1px 10px;
  box-shadow: #fcea83 0 1px 10px;
  right: -10px;
}
@media (min-width: 960px) {
  /* line 59, ../../../components/sass/modules/_footer.scss */
  footer #contact:hover {
    padding-right: 40px;
  }
}
/* line 71, ../../../components/sass/modules/_footer.scss */
footer ul {
  position: absolute;
  bottom: 30px;
  right: 0;
  padding: 1px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
@media (min-width: 960px) {
  /* line 71, ../../../components/sass/modules/_footer.scss */
  footer ul {
    bottom: 20px;
  }
}
/* line 86, ../../../components/sass/modules/_footer.scss */
footer ul li {
  padding: 1px;
}
/* line 88, ../../../components/sass/modules/_footer.scss */
footer ul li a {
  color: #fff;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: 400;
  text-decoration: none;
  display: block;
  width: 16px;
  height: 16px;
  position: relative;
  z-index: 3;
  font: 0/0 a;
  text-shadow: none;
  color: transparent;
  opacity: .8;
  transition: all .5s ease-out;
}
/* line 101, ../../../components/sass/modules/_footer.scss */
footer ul li a#flickr {
  background: url("/images/socialmedia/flickr-16.png") no-repeat center center;
}
/* line 104, ../../../components/sass/modules/_footer.scss */
footer ul li a#twitter {
  background: url("/images/socialmedia/twitter_16.png") no-repeat center center;
}
/* line 107, ../../../components/sass/modules/_footer.scss */
footer ul li a#behance {
  background: url("/images/socialmedia/behance-16.png") no-repeat center center;
}
/* line 110, ../../../components/sass/modules/_footer.scss */
footer ul li a#github {
  background: url("/images/socialmedia/github-16.png") no-repeat center center;
}
/* line 113, ../../../components/sass/modules/_footer.scss */
footer ul li a#facebook {
  background: url("/images/socialmedia/facebook-16.png") no-repeat center center;
}
/* line 116, ../../../components/sass/modules/_footer.scss */
footer ul li a#gplus {
  background: url("/images/socialmedia/google+-16.png") no-repeat center center;
}
@media (min-width: 650px) {
  /* line 88, ../../../components/sass/modules/_footer.scss */
  footer ul li a {
    width: 24px;
    height: 24px;
  }
  /* line 123, ../../../components/sass/modules/_footer.scss */
  footer ul li a#flickr {
    background: url("/images/socialmedia/flickr-24.png") no-repeat center center;
  }
  /* line 126, ../../../components/sass/modules/_footer.scss */
  footer ul li a#twitter {
    background: url("/images/socialmedia/twitter-24.png") no-repeat center center;
  }
  /* line 129, ../../../components/sass/modules/_footer.scss */
  footer ul li a#behance {
    background: url("/images/socialmedia/behance-24.png") no-repeat center center;
  }
  /* line 132, ../../../components/sass/modules/_footer.scss */
  footer ul li a#github {
    background: url("/images/socialmedia/github-24.png") no-repeat center center;
  }
  /* line 135, ../../../components/sass/modules/_footer.scss */
  footer ul li a#facebook {
    background: url("/images/socialmedia/facebook-24.png") no-repeat center center;
  }
  /* line 138, ../../../components/sass/modules/_footer.scss */
  footer ul li a#gplus {
    background: url("/images/socialmedia/google+-24.png") no-repeat center center;
  }
}
@media (min-width: 960px) {
  /* line 88, ../../../components/sass/modules/_footer.scss */
  footer ul li a {
    width: 32px;
    height: 32px;
  }
  /* line 146, ../../../components/sass/modules/_footer.scss */
  footer ul li a#flickr {
    background: url("/images/socialmedia/flickr-32.png") no-repeat center center;
  }
  /* line 149, ../../../components/sass/modules/_footer.scss */
  footer ul li a#twitter {
    background: url("/images/socialmedia/twitter_32.png") no-repeat center center;
  }
  /* line 152, ../../../components/sass/modules/_footer.scss */
  footer ul li a#behance {
    background: url("/images/socialmedia/behance-32.png") no-repeat center center;
  }
  /* line 155, ../../../components/sass/modules/_footer.scss */
  footer ul li a#github {
    background: url("/images/socialmedia/github-32.png") no-repeat center center;
  }
  /* line 158, ../../../components/sass/modules/_footer.scss */
  footer ul li a#facebook {
    background: url("/images/socialmedia/facebook-32.png") no-repeat center center;
  }
  /* line 161, ../../../components/sass/modules/_footer.scss */
  footer ul li a#gplus {
    background: url("/images/socialmedia/google+-32.png") no-repeat center center;
  }
}
/* line 168, ../../../components/sass/modules/_footer.scss */
footer ul li a:hover {
  opacity: 1;
  -moz-box-shadow: #e9ac67 0 1px 10px;
  -webkit-box-shadow: #e9ac67 0 1px 10px;
  box-shadow: #e9ac67 0 1px 10px;
}
/* line 182, ../../../components/sass/modules/_footer.scss */
footer p {
  font-size: 12px;
  line-height: 1.2;
  padding: 0 10px;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  margin-bottom: 0;
}

/* line 2, ../../../components/sass/modules/_contact.scss */
#contact-form input[type="submit"] {
  width: 100%;
  padding: 5px 20px;
  font-family: "Source Sans Pro", "Helvetica Neue", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 20px;
  border: none;
  color: #af9604;
  cursor: pointer;
  margin: 0;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-shadow: 0 -1px 0 #af9604;
  background-color: #FBE251;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjEuMCIgeDI9IjAuNSIgeTI9IjAuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZWE4MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZTI1MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fcea83), color-stop(100%, #fbe251));
  background-image: -moz-linear-gradient(bottom, #fcea83, #fbe251);
  background-image: -webkit-linear-gradient(bottom, #fcea83, #fbe251);
  background-image: linear-gradient(to top, #fcea83, #fbe251);
  -moz-box-shadow: #e1c105 0 1px 5px;
  -webkit-box-shadow: #e1c105 0 1px 5px;
  box-shadow: #e1c105 0 1px 5px;
}
/* line 25, ../../../components/sass/modules/_contact.scss */
#contact-form input[type="submit"]:hover {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZWE4MyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZiZTI1MSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fcea83), color-stop(100%, #fbe251));
  background-image: -moz-linear-gradient(top, #fcea83, #fbe251);
  background-image: -webkit-linear-gradient(top, #fcea83, #fbe251);
  background-image: linear-gradient(to bottom, #fcea83, #fbe251);
  -moz-box-shadow: #fcea83 0 1px 10px;
  -webkit-box-shadow: #fcea83 0 1px 10px;
  box-shadow: #fcea83 0 1px 10px;
}
/* line 37, ../../../components/sass/modules/_contact.scss */
#contact-form input[type="text"], #contact-form textarea {
  font-family: "&#12513;&#12452;&#12522;&#12458;", "Meiryo", "&#12498;&#12521;&#12462;&#12494;&#35282;&#12468;Pro W3", "Hiragino Kaku Gothic Pro", "MS P&#12468;&#12471;&#12483;&#12463;", "MS P Gothic", sans-serif;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
/* line 42, ../../../components/sass/modules/_contact.scss */
#contact-form input[type="text"] {
  margin: 0 0 1em;
}
/* line 46, ../../../components/sass/modules/_contact.scss */
#contact-form textarea {
  margin: 0;
  height: 100px;
}
/* line 51, ../../../components/sass/modules/_contact.scss */
#contact-form p {
  margin-bottom: 1em;
}
/* line 52, ../../../components/sass/modules/_contact.scss */
#contact-form p.label {
  margin: 0;
}
/* line 54, ../../../components/sass/modules/_contact.scss */
#contact-form #response {
  border: 1px solid #FFB11B;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  padding: 15px;
  margin-top: 2em;
  max-width: 540px h2;
  max-width-font-size: 1.3em;
  max-width-color: #FFB11B;
}
/* line 64, ../../../components/sass/modules/_contact.scss */
#contact-form #response h3 {
  font-size: 1.2em;
}

/* line 71, ../../../components/sass/modules/_contact.scss */
#contact-wrap {
  position: relative;
  width: 305px;
  background: white;
  padding: 10px;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  -moz-box-shadow: #061b20 2px 2px 10px;
  -webkit-box-shadow: #061b20 2px 2px 10px;
  box-shadow: #061b20 2px 2px 10px;
}
/* line 79, ../../../components/sass/modules/_contact.scss */
#contact-wrap span.close {
  cursor: pointer;
  float: right;
  font-size: 20px;
  line-height: 18px;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  opacity: 0.2;
}
/* line 87, ../../../components/sass/modules/_contact.scss */
#contact-wrap span.close:hover {
  opacity: 0.4;
}

/* line 93, ../../../components/sass/modules/_contact.scss */
#ghost {
  width: 100%;
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

/* line 102, ../../../components/sass/modules/_contact.scss */
.no-js #ghost {
  z-index: 90;
}

/* line 106, ../../../components/sass/modules/_contact.scss */
#contact-page {
  padding-top: 50px;
}
/* line 108, ../../../components/sass/modules/_contact.scss */
#contact-page #contact-form {
  max-width: 60em;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
#contact-page #contact-form:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 71, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head:hover ~ #contact-page #contact-form, head:hover ~ body #contact-page #contact-form {
  position: relative;
}
/* line 74, ../../../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/language/susy/_background.scss */
head:hover ~ #contact-page #contact-form:before, head:hover ~ body #contact-page #contact-form:before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  content: " ";
  z-index: 998;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDBmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzRkNGRmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA=='), url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 0% 50%, 100% 50%, color-stop(0%, #0000ff), color-stop(100%, #4d4dff)), -webkit-gradient(linear, 50% 0%, 50% 1, color-stop(100%, rgba(0, 0, 0, 0.5)), color-stop(100%, rgba(0, 0, 0, 0)));
  background-image: -moz-linear-gradient(left, #0000ff, #4d4dff), -moz-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: -webkit-linear-gradient(left, #0000ff, #4d4dff), -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-image: linear-gradient(to right, #0000ff, #4d4dff), linear-gradient(to bottom, rgba(0, 0, 0, 0.5) 1px, rgba(0, 0, 0, 0) 1px);
  background-size: 8.33333%, 100% 8px;
  background-origin: content-box, border-box;
  background-clip: content-box, border-box;
  background-position: left top;
}

/* line 3, ../../../components/sass/modules/_colors.scss */
#color-test h1 {
  margin-bottom: 0.53333em;
}
/* line 7, ../../../components/sass/modules/_colors.scss */
#color-test div.square {
  width: 100%;
  height: 100px;
  font-size: 20px;
  color: #fff;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (min-width: 650px) {
  /* line 7, ../../../components/sass/modules/_colors.scss */
  #color-test div.square {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    height: 10em;
  }
}
@media (min-width: 960px) {
  /* line 7, ../../../components/sass/modules/_colors.scss */
  #color-test div.square {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 25%;
    float: left;
    height: 12em;
  }
}
/* line 3, ../../../components/sass/_mixins.scss */
#color-test div div:nth-child(2):before, #color-test div div:nth-child(2):after {
  content: '';
  display: table;
}
/* line 8, ../../../components/sass/_mixins.scss */
#color-test div div:nth-child(2):after {
  clear: both;
}
/* line 28, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(2) div:first-child {
  background: #F596AA;
}
/* line 31, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(2) div:nth-child(2) {
  background: #91B493;
}
/* line 34, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(2) div:nth-child(3) {
  background: #FFB11B;
}
/* line 37, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(2) div:nth-child(4) {
  background: #E2943B;
}
/* line 44, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(3) div:first-child {
  background: #7DB9DE;
}
/* line 47, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(3) div:nth-child(2) {
  background: #51A8DD;
}
/* line 50, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(3) div:nth-child(3) {
  background: #2EA9DF;
}
/* line 53, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(3) div:nth-child(4) {
  background: #3A8FB7;
}
/* line 60, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(4) div:first-child {
  background: #6C6024;
}
/* line 63, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(4) div:nth-child(2) {
  background: #86C166;
}
/* line 66, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(4) div:nth-child(3) {
  background: #E8B647;
}
/* line 69, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(4) div:nth-child(4) {
  background: #FBE251;
}
/* line 76, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(5) div:first-child {
  background: #CC543A;
}
/* line 79, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(5) div:nth-child(2) {
  background: #376B6D;
}
/* line 82, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(5) div:nth-child(3) {
  background: #FB9966;
}
/* line 85, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(5) div:nth-child(4) {
  background: #FEDFE1;
}
/* line 92, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(6) div:first-child {
  background: #E83015;
}
/* line 95, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(6) div:nth-child(2) {
  background: #CB1B45;
}
/* line 98, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(6) div:nth-child(3) {
  background: #DB4D6D;
}
/* line 101, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(6) div:nth-child(4) {
  background: #F75C2F;
}
/* line 108, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(7) div:first-child {
  background: #877F6C;
}
/* line 111, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(7) div:nth-child(2) {
  background: #897D55;
}
/* line 114, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(7) div:nth-child(3) {
  background: #B4A582;
}
/* line 117, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(7) div:nth-child(4) {
  background: #F7D94C;
}
/* line 124, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(8) div:first-child {
  background: #A8D8B9;
}
/* line 127, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(8) div:nth-child(2) {
  background: #5DAC81;
}
/* line 130, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(8) div:nth-child(3) {
  background: #00896C;
}
/* line 133, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(8) div:nth-child(4) {
  background: #24936E;
}
/* line 140, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(9) div:first-child {
  background: #005CAF;
}
/* line 143, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(9) div:nth-child(2) {
  background: #DDD23B;
}
/* line 146, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(9) div:nth-child(3) {
  background: #78C2C4;
}
/* line 149, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(9) div:nth-child(4) {
  background: #33A6B8;
}
/* line 156, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(10) div:first-child {
  background: #1E88A8;
}
/* line 159, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(10) div:nth-child(2) {
  background: #81C7D4;
}
/* line 162, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(10) div:nth-child(3) {
  background: #58B2DC;
}
/* line 165, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(10) div:nth-child(4) {
  background: #3A8FB7;
}
/* line 172, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(11) div:first-child {
  background: #B481BB;
}
/* line 175, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(11) div:nth-child(2) {
  background: #C1328E;
}
/* line 178, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(11) div:nth-child(3) {
  background: #E03C8A;
}
/* line 181, ../../../components/sass/modules/_colors.scss */
#color-test div div:nth-child(11) div:nth-child(4) {
  background: #828282;
}

/*# sourceMappingURL=style.css.map */
